<%- include('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>
<body>
    <div class="container">
        <div class="card"> 
            <div class="card-header">
                <h5>Share something</h5>
            </div>
            <div class="card-body">
                <form method="POST" action="/post/save">
                <textarea class="form-control" placeholder="Write here..." id="post_form" name="description"></textarea><br>
                <br>
                <button class="btn btn-success">Share</button>
                </form>
            </div>
        </div>
    </div>
    <br><!-- usar forEach para mostrar todos os posts -->
    <% post.forEach(post => { %>
    <div class="container">
        <div class="card"> 
            <div class="card-header">
                <%= post.username %>
            </div>
            <div class="card-header">
                <p><%= post.description %></p>
                <!-- <a href="/admin/posts/edit/<%= post.id %>" class="btn btn-warning btn-hidden">Editar</a>
                    <form method="POST" action="/post/delete" style="display: inline;" onsubmit="apagar(event, this)">
                        <input type="hidden" name="id" value="<%= post.id %>">
                        <button class="btn btn-danger btn-hidden">Apagar</button>
                    </form> -->
            </div>
            <div class="card-body">
                <form method="POST" action="/comment/save" style="display: inline;">
                    <input type="text" name="comment"><button class="btn btn-success">Comment</button>
                </form>
            </div>
        </div>
    </div>   
    <% }) %>

   <!--  <script>
        function apagar(event, form) {
            event.preventDefault();
            console.log(form);
            if(form != req.session.user.id) {
                alert("EStá quieto");
            }else {
                var decision = confirm("Deseja apagar este post?");
                if(decision){
                    form.submit();
                    }   
                }
            }
    </script> -->

</body>
<%- include ('../../partials/footer.ejs') -%>
<style>
    body {
        background-color: #2d333b;
    }

    .container {
        padding: 15px;
    }

    .card {
        width: 600px;
    }
</style>