<%- include('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>
<body>
    <div class="container">
        <div class="card"> 
            <div class="card-header">
                <h5>Share something</h5>
            </div>
            <div class="card-body">
                <form method="POST" action="/post/save">
                <textarea class="form-control" placeholder="Write here..." id="post_form" name="description"></textarea><br>
                <br>
                <button class="btn btn-success">Publish</button>
                </form>
            </div>
        </div>
    </div>
    <br><!-- usar forEach para mostrar todos os posts -->
    <% post.forEach(post => { %>
    <div class="container">
        <div class="card"> 
            <div class="card-header">
                
            </div>
            <div class="card-body">
                <p><%= post.description %></p>
                <a href="/admin/posts/edit/<%= post.id %>" class="btn btn-warning">Editar</a>
                    <form method="POST" action="/post/delete" style="display: inline;">
                        <input type="hidden" name="id" value="<%= post.id %>">
                        <button class="btn btn-danger">Apagar</button>
                    </form>    
            </div>
        </div>
    </div>   
    <% }) %>  

</body>
<%- include ('../../partials/footer.ejs') -%>
<style>
    body {
        background-color: #2d333b;
    }

    .container {
        padding: 15px;
    }

    .card {
        width: 600px;
    }
</style>